<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/Scanit</property>
        <property name="hibernate.connection.username">scanner</property>
        <property name="hibernate.connection.password">scannit_pw_%!!!!!AAAAA</property>

        <property name="hibernate.cache.provider_class">org.hibernate.cache.EHCacheProvider</property>

        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>


        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

        <!-- JDBC connection pool (built-in) -->
        <property name="connection.pool_size">10</property>

        <!-- Echo all executed SQL to stdout -->
            <property name="show_sql">false</property>

            <!-- Drop and re-create the database schema on startup -->
            <property name="hibernate.bytecode.provider">javassist</property>

        <mapping class="org.rs.scanit.satellite.database.HibernateJobs"/>
        <mapping class="org.rs.scanit.satellite.database.HibernateCompletedJobs"/>


        <!-- Mapping files -->
        <!-- Not needed, because of Annotations -->
    </session-factory>



</hibernate-configuration>